{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-12 col-md-6 offset-md-6 align-self-center">
                <h1 class="display-4 logo-font text-white">
                    <strong><span class="rebel-text">HipHop Clothing Online</span></strong>
                </h1>
                <div class="my-5">
                    <h4>
                        <a href="{% url 'products' %}" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3">Shop Now</a>
                    </h4>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_js %}
<script>
document.addEventListener("DOMContentLoaded", function() {
    const slogans = [
        "90's HipHop Clothing Online",
        "Skate Fashion Apparel",
        "Urban Wear for Men",
        "Men's Unique Streetwear",
        "Fathers Day Gifts for Skaters",
        "Gift Ideas for Hip-Hop Fans",
        "90's Fashion Revival Wear"
    ];

    let sloganIndex = 0;

    const changeSlogan = () => {
        const sloganElement = document.querySelector(".rebel-text");
        if (sloganElement) {
            sloganElement.textContent = slogans[sloganIndex];
            sloganIndex = (sloganIndex + 1) % slogans.length; // Loop back to 0 when reaching the end
        }
    };

    // Initial call to set the first slogan
    changeSlogan();
    
    // Change slogan every 5000ms (5 seconds)
    setInterval(changeSlogan, 5000);
});
</script>
{% endblock %}
