{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container" style="background-color: white; padding: 20px; border-radius: 5px; box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);">
        <h1>Terms of Use for Earns-shop</h1>
        <p>Last updated: [Insert Last Updated Date]</p>
    
        <h2>1. Introduction</h2>
        <p>Welcome to <strong>Earn-shop</strong>. By accessing our website and using our services, you agree to comply with and be bound by the following terms and conditions ("Terms"). If you do not agree with any part of these Terms, you must not use our website.</p>
    
        <h2>2. Use of Services</h2>
        <p>Our services are intended for personal, non-commercial use. You may browse and purchase products from our collection, which includes our own branded apparel and accessories. You agree not to reproduce, duplicate, copy, sell, resell or exploit any portion of the Products without express written permission from us.</p>
    
        <h2>3. Account Registration and Security</h2>
        <p>Creating an account may enhance your shopping experience and will enable you to order Products. You agree to provide truthful and accurate information during the registration process and to keep this information updated. You are responsible for maintaining the confidentiality of your account credentials and for all activities that occur under your account.</p>
    
        <h2>4. Purchases and Payment</h2>
        <p>By purchasing a Product, you agree to pay the specified price, as well as any shipping and handling fees. All payments must be made through the approved payment methods listed on our website.</p>
    
        <h2>5. Shipping and Returns</h2>
        <p>You are responsible for paying shipping costs when returning an item. Open purchase is available for 10 days after receiving the Product, provided the Product is returned in a new and unused condition, other than trying it on. If you have any questions regarding returns, please contact us at <a href="mailto:pirrefixus@gmail.com">pirrefixus@gmail.com</a>.</p>
    
        <h2>6. Intellectual Property</h2>
        <p>All content on the website, including text, graphics, logos, and images, is our property or the property of our content suppliers and is protected by international copyright laws. The use of any content without our express written consent is strictly prohibited.</p>
    
        <h2>7. Affiliate Program</h2>
        <p>If you are interested in becoming an affiliate or partner, please reach out to us via email at <a href="mailto:pirrefixus@gmail.com">pirrefixus@gmail.com</a> for more information.</p>
    
        <h2>8. Amendments</h2>
        <p>We reserve the right to amend these Terms at any time. All amendments to these Terms will be posted on our website and become effective immediately upon posting.</p>
    
        <p>By continuing to use the site after such amendments are made, you agree to be bound by the amended Terms.</p>
    
        <p>If you have any questions about these Terms of Use, please contact us at <a href="mailto:pirrefixus@gmail.com">pirrefixus@gmail.com</a>.</p>
    </div>
{% endblock %}