@import url('https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap');

html {
    height: 100%;
}

body {
    background: url('/media/backgroundpic5.png');
    background-size: cover;
    color: #555;
    font-family: 'Lato', sans-serif;
}

/* Base styles for mobile view */
.icon {
    height: 0.4rem;
    width: 0.4rem;
    align-items: center;
    display: inline-flex;
    justify-content: center;
}

.logo-font {
    font-size: 1.5rem;
    text-transform: uppercase;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.main-logo-link {
    width: fit-content;
}

.rebel-text {
    font-family: 'Permanent Marker', cursive;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    color: white;
}


/* Buttons */
.shop-now-button,
.btn-black,
.btn-outline-black {
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;
}

.shop-now-button {
    background: rgba(255, 136, 0, 0.7);
    color: #fff;
    border: none;
    border-radius: 25px;
    padding: 12px 24px;
    font-size: 1.2rem;
    transition: background-color 0.3s, transform 0.3s;
    text-decoration: none;
    font-family: 'Permanent Marker', cursive;

}

.btn-black {
    background: black;
    color: white;
}

.btn-outline-black {
    background: white;
    color: black !important;
    border: 1px solid black;
}

.shop-now-button:hover{
    background: rgba(204, 102, 0, 0.9);
    transform: scale(1.05);
}
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus,
.btn-outline-black:hover,
.btn-outline-black:active,
.btn-outline-black:focus {
    background: #cc6600;
    transform: scale(1.05);
    text-decoration: none;
}

/* Text Colors and Borders */
.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

.bg-black {
    background: #000 !important;
}


/* Overlay Styles */
.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: white;
    z-index: -1;
}

/* Category Badge */
a.category-badge > span.badge:hover {
    background: #212529 !important;
    color: #fff !important;
}

/* Back-to-Top Button */
.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}

/* Input Placeholder */
input[name='q']::placeholder {
    color: #aab7c4;
}

/* Bootstrap Toasts Container */
.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

/* Custom Toast Styles */
.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* Arrow Styles */
.arrow-up {
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

/* Arrow Convenience Classes */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

/* Bag Notification Wrapper */
.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* Allauth Form Styles */
.allauth-form-inner-content {
    margin-top: 10%;
    padding: 1.5rem;
}

.allauth-form-inner-content p {
    margin-top: 1.5rem;
    color: #6c757d;
}

.allauth-form-inner-content input {
    border-color: #000;
    border-radius: 0;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
    display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #000;
    border: 1px solid #000;
    border-radius: 0;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {
    color: #fff;
    background-color: #222;
    border-color: #222;
}

.allauth-form-inner-content a {
    color: #17a2b8;
}

/* File Input Styles */
.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

/* Custom Checkbox Styles */
.custom-checkbox .custom-control-label::before {
    border-radius: 0;
    border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #dc3545;
    border-color: #dc3545;
    border-radius: 0;
}

/* Media Queries */
@media (max-width: 575px) {
    .logo-font {
        font-size: 1.2rem;
    }

    .nav-link i, .nav-link p {
        font-size: 0.7rem;
    }

    .nav-link {
        padding: 0.25rem;
    }

    #topnav .col-12 {
        padding-top: 2.5rem;
        padding-bottom: 0.5rem;
        font-size: small;
    }
    .header-container {
        padding-top: 520px;
    }
}


@media (min-width: 576px) {
    body {
        width: 625px;
    }

    .icon {
        height: 1rem;
        width: 1rem;
    }

    .h5-sm {
        font-size: 0.85rem;
    }

    .nav-link i, .nav-link p {
        font-size: 0.8rem;
    }

    .nav-link {
        padding: 0.5rem;
    }

    #topnav .col-12 {
        padding-top: 1rem;
        padding-bottom: 1rem;
        font-size: larger;
    }

    .header-container {
        padding-top: 520px;
    }
}

@media (min-width: 768px) {
    body {
        width: 800px;
    }

    .logo-font {
        font-size: 2rem;
    }

    #topnav .col-12 {
        padding-top: 1rem;
        padding-bottom: 1rem;
        font-size: larger;
    }

    .btt-button {
        box-shadow: none;
        border: none;
    }

    .btt-button .btt-link i {
        font-size: 2rem;
    }

    .header-container {
        padding-top: 30%;
    }
}

@media (max-width: 900px) {
    #delivery-banner .logo-font {
        font-size: 0.9rem;
    }
}

@media (min-width: 992px) {
    body {
        width: 1100px;
    }

    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 10%;
    }

    body {
        height: calc(100vh - 116px);
    }

    #topnav .col-12 {
        padding-top: 1.5rem; /* More padding to prevent hiding behind the navbar */
    }

}

@media (min-width: 1200px) {
    body {
        width: 1350px;
    }
    .container {
        max-width: 80%;
    }
    .h5-sm {
        font-size: 1rem;
    }

    .nav-link i, .nav-link p {
        font-size: 1rem;
    }

    .nav-link {
        padding: 0.75rem;
    }
}
/* Very large devices (extra-large desktops, 1600px and up) */
@media (min-width: 1600px) {
    body {
        width: 1625px;
        
    }

    .container {
        max-width: 85%;
    }

    /* Increase font sizes for better readability */
    body {
        font-size: 18px;
    }

    .logo-font {
        font-size: 2.5rem;
    }

    .nav-link {
        font-size: 1.2rem;
        padding: 1rem;
    }

    .shop-now-button, .btn-black, .btn-outline-black {
        font-size: 1.5rem;
        padding: 15px 30px;
    }

    .rebel-text {
        font-size: 1.5rem;
    }

    /* Adjust header container padding for larger header elements */
    .header-container {
        padding-top: 25%;
    }

    /* Larger icons for better visibility */
    .icon {
        height: 2rem;
        width: 2rem;
    }

    /* Larger back-to-top button */
    .btt-button {
        height: 50px;
        width: 50px;
        font-size: 2.5rem;
    }

    /* Adjust the size of toast notifications */
    .custom-toast {
        font-size: 1.2rem;
    }

    /* Additional style adjustments as needed */
}