{% extends "account/base_manage_email.html" %}
{% load i18n %}
{% load allauth %}
{% load static %}  <!-- Make sure to load static files -->

{% block head_title %}
    {% trans "Email Address" %}
{% endblock head_title %}

{% block content %}
    <div class="allauth-form-inner-content"> <!-- Apply custom CSS class -->
        <h1 class="my-custom-heading">{% trans "Email Address" %}</h1>
        {% if not emailaddresses %}
            {% include "account/snippets/warn_no_email.html" %}
        {% endif %}
        {% url 'account_email' as action_url %}
        {% element form method="post" action=action_url %}
            {% slot body %}
                {% csrf_token %}
                {% element field readonly=True type="email" value=current_emailaddress.email %}
                    {% slot label %}
                        <span class="my-custom-label">{% translate "Current email" %}:</span>
                    {% endslot %}
                {% endelement %}
                {% if new_emailaddress %}
                    {% element field name="email" value=new_emailaddress.email readonly=True type="email" %}
                        {% slot label %}
                            <span class="my-custom-label">{% translate "Changing to" %}:</span>
                        {% endslot %}
                        {% slot help_text %}
                            <span class="my-custom-help-text">{% blocktranslate %}Your email address is still pending verification.{% endblocktranslate %}</span>
                        {% endslot %}
                    {% endelement %}
                {% else %}
                    {% element field name="email" value=form.email.value errors=form.email.errors type="email" %}
                        {% slot label %}
                            <span class="my-custom-label">{% translate "Change to" %}:</span>
                        {% endslot %}
                    {% endelement %}
                {% endif %}
            {% endslot %}
            {% slot actions %}
                {% if new_emailaddress %}
                    <button type="submit" class="my-custom-button" name="action_send">{% trans 'Re-send Verification' %}</button>
                    <button type="submit" class="my-custom-button danger" name="action_remove">{% trans 'Cancel Change' %}</button>
                {% else %}
                    <button type="submit" class="my-custom-button" name="action_add">{% trans "Change Email" %}</button>
                {% endif %}
            {% endslot %}
        {% endelement %}
    </div>
{% endblock content %}
