{% extends "account/base_manage_password.html" %}
{% load i18n %}
{% load static %}  <!-- Make sure to load static files -->

{% block head_title %}
    {% trans "Set Password" %}
{% endblock head_title %}

{% block content %}
    <div class="allauth-form-inner-content"> <!-- Apply custom CSS class -->
        <h1 class="my-custom-heading">{% trans "Set Password" %}</h1>
        {% url 'account_set_password' as action_url %}
        {% element form method="post" action=action_url %}
            {% slot body %}
                {% csrf_token %}
                {% element fields form=form %}
                {% endelement %}
            {% endslot %}
            {% slot actions %}
                <button type="submit" class="my-custom-button">{% trans 'Set Password' %}</button>
            {% endslot %}
        {% endelement %}
    </div>
{% endblock content %}
