{% extends "account/base_entrance.html" %}
{% load i18n %}
{% load static %}  <!-- Make sure to load static files -->

{% block head_title %}
    {% trans "Change Password" %}
{% endblock head_title %}

{% block content %}
    <div class="allauth-form-inner-content"> <!-- Apply custom CSS class -->
        <h1 class="my-custom-heading">
            {% if token_fail %}
                {% trans "Bad Token" %}
            {% else %}
                {% trans "Change Password" %}
            {% endif %}
        </h1>
        {% if token_fail %}
            {% url 'account_reset_password' as passwd_reset_url %}
            <p class="my-custom-paragraph">
                {% blocktrans %}The password reset link was invalid, possibly because it has already been used. Please request a <a href="{{ passwd_reset_url }}" class="my-custom-link">new password reset</a>.{% endblocktrans %}
            </p>
        {% else %}
            {% element form method="post" action=action_url %}
                {% slot body %}
                    {% csrf_token %}
                    {% element fields form=form %}
                    {% endelement %}
                {% endslot %}
                {% slot actions %}
                    <button type="submit" class="my-custom-button">{% trans 'Change Password' %}</button>
                {% endslot %}
            {% endelement %}
        {% endif %}
    </div>
{% endblock content %}
